# Q1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
#  home url of wikipedia is "https://en.wikipedia.org/wiki/Main_Page" .

In [3]:
# url="https://en.wikipedia.org/wiki/Main_Page"

In [4]:
url="https://en.wikipedia.org"

In [5]:
page= requests.get(url)

In [6]:
page

In [7]:
soup= BeautifulSoup(page.content)

In [9]:
header= soup.find_all(["h1","h2"])
header

[<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>,
 <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>]

In [10]:
header=[]
for i in soup.find_all(["h1","h2"]):
    header.append(i.text)
    
header

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [11]:
len(header)

10

In [12]:
df=pd.DataFrame({"Header":header})
df

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

# Q2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

In [13]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [14]:
url="https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [15]:
page=requests.get(url)
page

In [112]:
soup=BeautifulSoup(page.content)

In [17]:
top_movies_name=[]
for i in soup.find_all("td",class_="titleColumn"):
    name=i.find("a").text
    top_movies_name.append(name)
    
top_50_movies_name=top_movies_name[0:50]
top_50_movies_name

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Il buono, il brutto, il cattivo',
 'Forrest Gump',
 'Fight Club',
 'The Lord of the Rings: The Two Towers',
 'Inception',
 'The Empire Strikes Back',
 'The Matrix',
 'GoodFellas',
 "One Flew Over the Cuckoo's Nest",
 'Se7en',
 "It's a Wonderful Life",
 'Shichinin no samurai',
 'The Silence of the Lambs',
 'Saving Private Ryan',
 'Cidade de Deus',
 'Interstellar',
 'La vita è bella',
 'The Green Mile',
 'Star Wars',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'Sen to Chihiro no kamikakushi',
 'The Pianist',
 'Psycho',
 'Gisaengchung',
 'Léon',
 'The Lion King',
 'Gladiator',
 'American History X',
 'The Departed',
 'Whiplash',
 'The Prestige',
 'The Usual Suspects',
 'Casablanca',
 'Hotaru no haka',
 'Seppuku',
 'The Intouchables',
 'Modern Times',
 'Once Upon a Time in the West',
 'Nuovo Cinema Paradiso',
 'Rear Window']

In [18]:
top_movies_year=[]
for i in soup.find_all("span",class_="secondaryInfo"):
    top_movies_year.append(i.text)
    
top_50_movies_year =top_movies_year[0:50]
top_50_movies_year

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(2001)',
 '(1966)',
 '(1994)',
 '(1999)',
 '(2002)',
 '(2010)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1995)',
 '(1946)',
 '(1954)',
 '(1991)',
 '(1998)',
 '(2002)',
 '(2014)',
 '(1997)',
 '(1999)',
 '(1977)',
 '(1991)',
 '(1985)',
 '(2001)',
 '(2002)',
 '(1960)',
 '(2019)',
 '(1994)',
 '(1994)',
 '(2000)',
 '(1998)',
 '(2006)',
 '(2014)',
 '(2006)',
 '(1995)',
 '(1942)',
 '(1988)',
 '(1962)',
 '(2011)',
 '(1936)',
 '(1968)',
 '(1988)',
 '(1954)']

In [19]:
top_movies_rating=[]
for i in soup.find_all("td",class_="ratingColumn imdbRating"):
#     name=i.find("a").text
#     top_movies.append(name)
    top_movies_rating.append(i.text.replace("\n",""))
    
top_50_movies_rating=top_movies_rating[0:50]
top_50_movies_rating

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4']

In [20]:
df= pd.DataFrame({"Name":top_50_movies_name,"Rating":top_50_movies_rating,"Year of release":top_50_movies_year,"Rating":top_50_movies_rating})

In [21]:
df

                                                 Name Rating Year of release
0                            The Shawshank Redemption    9.2          (1994)
1                                       The Godfather    9.2          (1972)
2                                     The Dark Knight    9.0          (2008)
3                               The Godfather Part II    9.0          (1974)
4                                        12 Angry Men    9.0          (1957)
5                                    Schindler's List    8.9          (1993)
6       The Lord of the Rings: The Return of the King    8.9          (2003)
7                                        Pulp Fiction    8.8          (1994)
8   The Lord of the Rings: The Fellowship of the Ring    8.8          (2001)
9                     Il buono, il brutto, il cattivo    8.8          (1966)
10                                       Forrest Gump    8.8          (1994)
11                                         Fight Club    8.7          (1999)
12              The Lord of the Rings: The Two Towers    8.7          (2002)
13                                          Inception    8.7          (2010)
14                            The Empire Strikes Back    8.7          (1980)
15                                         The Matrix    8.7          (1999)
16                                         GoodFellas    8.7          (1990)
17                    One Flew Over the Cuckoo's Nest    8.6          (1975)
18                                              Se7en    8.6          (1995)
19                              It's a Wonderful Life    8.6          (1946)
20                               Shichinin no samurai    8.6          (1954)
21                           The Silence of the Lambs    8.6          (1991)
22                                Saving Private Ryan    8.6          (1998)
23                                     Cidade de Deus    8.6          (2002)
24                                       Interstellar    8.6          (2014)
25                                    La vita è bella    8.6          (1997)
26                                     The Green Mile    8.6          (1999)
27                                          Star Wars    8.5          (1977)
28                         Terminator 2: Judgment Day    8.5          (1991)
29                                 Back to the Future    8.5          (1985)
30                      Sen to Chihiro no kamikakushi    8.5          (2001)
31                                        The Pianist    8.5          (2002)
32                                             Psycho    8.5          (1960)
33                                       Gisaengchung    8.5          (2019)
34                                               Léon    8.5          (1994)
35                                      The Lion King    8.5          (1994)
36                                          Gladiator    8.5          (2000)
37                                 American History X    8.5          (1998)
38                                       The Departed    8.5          (2006)
39                                           Whiplash    8.5          (2014)
40                                       The Prestige    8.5          (2006)
41                                 The Usual Suspects    8.5          (1995)
42                                         Casablanca    8.5          (1942)
43                                     Hotaru no haka    8.5          (1988)
44                                            Seppuku    8.5          (1962)
45                                   The Intouchables    8.5          (2011)
46                                       Modern Times    8.4          (1936)
47                       Once Upon a Time in the West    8.4          (1968)
48                              Nuovo Cinema Paradiso    8.4          (1988)
49                                        Rear Window    8.4          (1954)

# Q3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.

In [22]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [23]:
url="https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=X0V9K80DTN7QEJ45S0WV&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd"

In [24]:
page=requests.get(url)
page

In [113]:
soup=BeautifulSoup(page.content)

In [26]:
top_ind_movies_name=[]
for i in soup.find_all("td",class_="titleColumn"):
    name=i.find("a").text
    top_ind_movies_name.append(name)
    
top_ind_50_movies_name=top_ind_movies_name[0:50]
top_ind_50_movies_name

['Ramayana: The Legend of Prince Rama',
 'Rocketry: The Nambi Effect',
 'Nayakan',
 'Gol Maal',
 '777 Charlie',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'Apur Sansar',
 '3 Idiots',
 'Manichitrathazhu',
 'Jai Bhim',
 '#Home',
 'Soorarai Pottru',
 'Black Friday',
 'Kumbalangi Nights',
 'C/o Kancharapalem',
 'Taare Zameen Par',
 'Kireedam',
 'Dangal',
 'Kaithi',
 'Jersey',
 '96',
 'Maya Bazaar',
 'Natsamrat',
 'Asuran',
 'Drishyam 2',
 'Thevar Magan',
 'Sita Ramam',
 'Visaaranai',
 'Sarpatta Parambarai',
 'Thalapathi',
 'Nadodikkattu',
 'Pather Panchali',
 'Drishyam',
 'Thani Oruvan',
 'Jaane Bhi Do Yaaro',
 'Vada Chennai',
 'Aparajito',
 'Khosla Ka Ghosla!',
 'Sardar Udham',
 'Anniyan',
 'Ratsasan',
 'Chupke Chupke',
 'Gangs of Wasseypur',
 'Drishyam',
 'Mahanati',
 'Peranbu',
 'Bangalore Days',
 'Premam',
 'Satya']

In [27]:
top_ind_movies_year=[]
for i in soup.find_all("span",class_="secondaryInfo"):
    top_ind_movies_year.append(i.text)
    
top_ind_50_movies_year =top_ind_movies_year[0:50]
top_ind_50_movies_year

['(1993)',
 '(2022)',
 '(1987)',
 '(1979)',
 '(2022)',
 '(2018)',
 '(2003)',
 '(1959)',
 '(2009)',
 '(1993)',
 '(2021)',
 '(2021)',
 '(2020)',
 '(2004)',
 '(2019)',
 '(2018)',
 '(2007)',
 '(1989)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(1957)',
 '(2016)',
 '(2019)',
 '(2021)',
 '(1992)',
 '(2022)',
 '(2015)',
 '(2021)',
 '(1991)',
 '(1987)',
 '(1955)',
 '(2013)',
 '(2015)',
 '(1983)',
 '(2018)',
 '(1956)',
 '(2006)',
 '(2021)',
 '(2005)',
 '(2018)',
 '(1975)',
 '(2012)',
 '(2015)',
 '(2018)',
 '(2018)',
 '(2014)',
 '(2015)',
 '(1998)']

In [28]:
top_ind_movies_rating=[]
for i in soup.find_all("td",class_="ratingColumn imdbRating"):
    top_ind_movies_rating.append(i.text.replace("\n",""))
    
top_ind_50_movies_rating=top_ind_movies_rating[0:50]
top_ind_50_movies_rating

['8.6',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [29]:
ind_df= pd.DataFrame({"Name":top_ind_50_movies_name,"Rating":top_ind_50_movies_rating,"Year of release":top_ind_50_movies_year})
ind_df

                                   Name Rating Year of release
0   Ramayana: The Legend of Prince Rama    8.6          (1993)
1            Rocketry: The Nambi Effect    8.4          (2022)
2                               Nayakan    8.4          (1987)
3                              Gol Maal    8.4          (1979)
4                           777 Charlie    8.4          (2022)
5                     Pariyerum Perumal    8.4          (2018)
6                            Anbe Sivam    8.4          (2003)
7                           Apur Sansar    8.4          (1959)
8                              3 Idiots    8.4          (2009)
9                      Manichitrathazhu    8.3          (1993)
10                             Jai Bhim    8.3          (2021)
11                                #Home    8.3          (2021)
12                      Soorarai Pottru    8.3          (2020)
13                         Black Friday    8.3          (2004)
14                    Kumbalangi Nights    8.3          (2019)
15                    C/o Kancharapalem    8.3          (2018)
16                     Taare Zameen Par    8.3          (2007)
17                             Kireedam    8.3          (1989)
18                               Dangal    8.3          (2016)
19                               Kaithi    8.3          (2019)
20                               Jersey    8.3          (2019)
21                                   96    8.3          (2018)
22                          Maya Bazaar    8.2          (1957)
23                            Natsamrat    8.2          (2016)
24                               Asuran    8.2          (2019)
25                           Drishyam 2    8.2          (2021)
26                         Thevar Magan    8.2          (1992)
27                           Sita Ramam    8.2          (2022)
28                           Visaaranai    8.2          (2015)
29                  Sarpatta Parambarai    8.2          (2021)
30                           Thalapathi    8.2          (1991)
31                         Nadodikkattu    8.2          (1987)
32                      Pather Panchali    8.2          (1955)
33                             Drishyam    8.2          (2013)
34                         Thani Oruvan    8.2          (2015)
35                   Jaane Bhi Do Yaaro    8.2          (1983)
36                         Vada Chennai    8.2          (2018)
37                            Aparajito    8.2          (1956)
38                    Khosla Ka Ghosla!    8.2          (2006)
39                         Sardar Udham    8.2          (2021)
40                              Anniyan    8.2          (2005)
41                             Ratsasan    8.1          (2018)
42                        Chupke Chupke    8.1          (1975)
43                   Gangs of Wasseypur    8.1          (2012)
44                             Drishyam    8.1          (2015)
45                             Mahanati    8.1          (2018)
46                              Peranbu    8.1          (2018)
47                       Bangalore Days    8.1          (2014)
48                               Premam    8.1          (2015)
49                                Satya    8.1          (1998)

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [30]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [31]:
url="https://presidentofindia.nic.in/former-presidents.htm"

In [32]:
page=requests.get(url)

In [33]:
soup=BeautifulSoup(page.content)

In [34]:
Former_President_name=[]
for i in soup.find_all("h3"):
    i=i.text[:i.text.find("(")]
    Former_President_name.append(i)
    
Former_President_name

['Shri Ram Nath Kovind ',
 'Shri Pranab Mukherjee ',
 'Smt Pratibha Devisingh Patil ',
 'DR. A.P.J. Abdul Kalam ',
 'Shri K. R. Narayanan ',
 'Dr Shankar Dayal Sharma ',
 'Shri R Venkataraman ',
 'Giani Zail Singh ',
 'Shri Neelam Sanjiva Reddy ',
 'Dr. Fakhruddin Ali Ahmed ',
 'Shri Varahagiri Venkata Giri ',
 'Dr. Zakir Husain ',
 'Dr. Sarvepalli Radhakrishnan ',
 'Dr. Rajendra Prasad ']

In [35]:
Term_Of_Office= []
for i in soup.find_all("div",class_="presidentListing"):
        j=i.find("p")
        Term_Of_Office.append(j.text.replace("Term of Office:",""))
        
    
    
Term_Of_Office

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [36]:
presidents_df= pd.DataFrame({"Name":Former_President_name,"Term Of Office":Term_Of_Office})
presidents_df

,Name,Term Of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# Q5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

### a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [37]:
import numpy as np
from bs4 import BeautifulSoup
import requests

In [38]:
url ="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [39]:
page =requests.get(url)
page

In [40]:
soup= BeautifulSoup(page.content)

In [41]:
team_names=[]
for i in soup.find_all("span",class_="u-hide-phablet"):
    team_names.append(i.text)
    
team_names
Top_10_team_names=team_names[:10]
Top_10_team_names

['Australia',
 'New Zealand',
 'India',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [42]:
team_matches=[]
for i in soup.find("td",class_="rankings-block__banner--matches"):
    team_matches.append(i.text)
for i in soup.find("td",class_="rankings-block__banner--points"):
    team_matches.append(i.text)

for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    team_matches.append(i.text)
    

Top_10_team_matches=team_matches[:20:2]
print(Top_10_team_matches)

Top_10_team_points=team_matches[1:21:2]
print(Top_10_team_points)

['35', '31', '47', '36', '25', '31', '38', '36', '43', '20']
['3,965', '3,504', '5,294', '3,988', '2,649', '3,141', '3,625', '3,099', '3,105', '1,419']

In [43]:
team_rating=[]
for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    team_rating.append(i.text.replace("\n","").replace(" ",""))
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    team_rating.append(i.text)
Top_10_team_rating=team_rating[:10]
print(Top_10_team_rating)

['113', '113', '113', '111', '106', '101', '95', '86', '72', '71']

In [44]:
Top_10_ODI_teams= pd.DataFrame({"Team":Top_10_team_names,"Matches":Top_10_team_matches,"Points":Top_10_team_points,"Rating":Top_10_team_rating})
Top_10_ODI_teams

           Team Matches Points Rating
0     Australia      35  3,965    113
1   New Zealand      31  3,504    113
2         India      47  5,294    113
3       England      36  3,988    111
4      Pakistan      25  2,649    106
5  South Africa      31  3,141    101
6    Bangladesh      38  3,625     95
7     Sri Lanka      36  3,099     86
8   West Indies      43  3,105     72
9   Afghanistan      20  1,419     71

### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [45]:
import numpy as np
from bs4 import BeautifulSoup
import requests

In [46]:
url ="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [47]:
page =requests.get(url)
page

In [48]:
soup= BeautifulSoup(page.content)

In [49]:
Batsmen_names=[]
for i in soup.find("div",class_="rankings-block__banner--name"):
    Batsmen_names.append(i.text.replace("\n",""))

for i in soup.find_all("td",class_="table-body__cell name"):
    Batsmen_names.append(i.text.replace("\n",""))
    

Top_10_Batsmen_names=Batsmen_names[:10]
Top_10_Batsmen_names

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman']

In [50]:
team_names=[]
t_name=[]
for i in soup.find("div",class_="rankings-block__banner--nationality"):
      
        t_name.append(i.text)
        t_name = [t.strip() for t in t_name if t.strip()]
team_names.append(t_name[0])
        

for i in soup.find_all("span",class_="table-body__logo-text"):
    team_names.append(i.text.replace("\n","").replace("'',",""))
    

Top_10_team_names=team_names[:10]
Top_10_team_names

['PAK', 'SA', 'PAK', 'IND', 'AUS', 'IND', 'SA', 'IND', 'AUS', 'PAK']

In [51]:
team_rating=[]
t_rating=[]
for i in soup.find("div",class_="rankings-block__banner--nationality"):
      
        t_rating.append(i.text)
        t_rating = [t.strip() for t in t_rating if t.strip()]
team_rating.append(t_rating[1])

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    team_rating.append(i.text)




Top_10_team_rating=team_rating[:10]
Top_10_team_rating

['887', '777', '740', '738', '726', '719', '718', '707', '702', '699']

In [52]:
Top_10_ODI_batting_player= pd.DataFrame({"Batting_player":Top_10_Batsmen_names,"Team":Top_10_team_names,"Rating":Top_10_team_rating})
Top_10_ODI_batting_player

          Batting_player Team Rating
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    777
2            Imam-ul-Haq  PAK    740
3           Shubman Gill  IND    738
4           David Warner  AUS    726
5            Virat Kohli  IND    719
6        Quinton de Kock   SA    718
7           Rohit Sharma  IND    707
8            Steve Smith  AUS    702
9           Fakhar Zaman  PAK    699

### c) Top 10 ODI bowlers along with the records of their team andrating.

In [53]:
import numpy as np
from bs4 import BeautifulSoup
import requests

In [54]:
url ="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [55]:
page =requests.get(url)
page

In [56]:
soup= BeautifulSoup(page.content)

In [57]:
Bowler_1_names=[]
Bowler_names=[]
g=0
for i in soup.find_all("div",class_="rankings-block__banner--name"):
    
    if g==1:
        Bowler_1_names.append(i.text.replace("\n",""))
        break
    else :
        g=g+1

for i in soup.find_all("td",class_="table-body__cell name"):
    Bowler_names.append(i.text.replace("\n",""))
    

Top_10_Bowler_names=Bowler_1_names + Bowler_names[9:18]
Top_10_Bowler_names

['Josh Hazlewood',
 'Trent Boult',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Shakib Al Hasan']

In [58]:
team_names=[]
team_1_names=[]
t_name=[]
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
      
        t_name.append(i.text.replace("\n","").replace(" ",""))
        t_name = [t.strip() for t in t_name if t.strip()]
team_1_names.append(t_name[1][:3])
        

for i in soup.find_all("span",class_="table-body__logo-text"):
    team_names.append(i.text.replace("\n","").replace("'',",""))
    

Top_10_team_names=team_1_names+team_names[9:18]
Top_10_team_names

['AUS', 'NZ', 'IND', 'AUS', 'NZ', 'AFG', 'AUS', 'PAK', 'AFG', 'BAN']

In [59]:
team_rating=[]
team_1_rating=[]
t_rating=[]

for i in soup.find_all("div",class_="rankings-block__banner--nationality"):

        t_rating.append(i.text.replace("\n","").replace(" ",""))
        t_rating = [t.strip() for t in t_rating if t.strip()]
team_1_rating.append(t_rating[1][3:6])

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    team_rating.append(i.text)




Top_10_team_rating=team_1_rating+team_rating[9:18]
Top_10_team_rating
# team_1_rating

['705', '694', '691', '686', '676', '659', '652', '641', '637', '636']

In [60]:
Top_10_ODI_bowling_player= pd.DataFrame({"bowling_player":Top_10_Bowler_names,"Team":Top_10_team_names,"Rating":Top_10_team_rating})
Top_10_ODI_bowling_player

     bowling_player Team Rating
0    Josh Hazlewood  AUS    705
1       Trent Boult   NZ    694
2    Mohammed Siraj  IND    691
3    Mitchell Starc  AUS    686
4        Matt Henry   NZ    676
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    652
7    Shaheen Afridi  PAK    641
8  Mujeeb Ur Rahman  AFG    637
9   Shakib Al Hasan  BAN    636

# Q6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data framea)

### a)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [61]:
import numpy as np
from bs4 import BeautifulSoup
import requests

In [62]:

url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [63]:
page=requests.get(url)

In [64]:
soup=BeautifulSoup(page.content)

In [65]:
team_names=[]
for i in soup.find_all("span",class_="u-hide-phablet"):
    team_names.append(i.text)
    
team_names
Top_10_team_names=team_names[:10]
Top_10_team_names

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [66]:
team_matches=[]
for i in soup.find("td",class_="rankings-block__banner--matches"):
    team_matches.append(i.text)
for i in soup.find("td",class_="rankings-block__banner--points"):
    team_matches.append(i.text)

for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    team_matches.append(i.text)
    

Top_10_team_matches=team_matches[:20:2]
print(Top_10_team_matches)

Top_10_team_points=team_matches[1:21:2]
print(Top_10_team_points)

['21', '28', '26', '27', '25', '27', '13', '11', '27', '8']
['3,603', '3,342', '3,098', '2,820', '2,553', '2,535', '983', '821', '1,678', '353']

In [67]:
team_rating=[]
for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    team_rating.append(i.text.replace("\n","").replace(" ",""))
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    team_rating.append(i.text)
Top_10_team_rating=team_rating[:10]
print(Top_10_team_rating)

['172', '119', '119', '104', '102', '94', '76', '75', '62', '44']

In [68]:
Top_10_women_ODI_teams= pd.DataFrame({"Team":Top_10_team_names,"Matches":Top_10_team_matches,"Points":Top_10_team_points,"Rating":Top_10_team_rating})
Top_10_women_ODI_teams

           Team Matches Points Rating
0     Australia      21  3,603    172
1       England      28  3,342    119
2  South Africa      26  3,098    119
3         India      27  2,820    104
4   New Zealand      25  2,553    102
5   West Indies      27  2,535     94
6    Bangladesh      13    983     76
7      Thailand      11    821     75
8      Pakistan      27  1,678     62
9     Sri Lanka       8    353     44

### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [69]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [70]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [71]:
page =requests.get(url)
page

In [72]:
soup= BeautifulSoup(page.content)

In [73]:
Batsmen_names=[]
for i in soup.find("div",class_="rankings-block__banner--name"):
    Batsmen_names.append(i.text.replace("\n",""))

for i in soup.find_all("td",class_="table-body__cell name"):
    Batsmen_names.append(i.text.replace("\n",""))
    

Top_10_Batsmen_names=Batsmen_names[:10]
Top_10_Batsmen_names

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Chamari Athapaththu',
 'Amy Satterthwaite',
 'Ellyse Perry']

In [74]:
team_names=[]
t_name=[]
for i in soup.find("div",class_="rankings-block__banner--nationality"):
      
        t_name.append(i.text)
        t_name = [t.strip() for t in t_name if t.strip()]
team_names.append(t_name[0])
        

for i in soup.find_all("span",class_="table-body__logo-text"):
    team_names.append(i.text.replace("\n","").replace("'',",""))
    

Top_10_team_names=team_names[:10]
Top_10_team_names

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'SL', 'NZ', 'AUS']

In [75]:
team_rating=[]
t_rating=[]
for i in soup.find("div",class_="rankings-block__banner--nationality"):
      
        t_rating.append(i.text)
        t_rating = [t.strip() for t in t_rating if t.strip()]
team_rating.append(t_rating[1])

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    team_rating.append(i.text)




Top_10_team_rating=team_rating[:10]
Top_10_team_rating

['762', '754', '732', '731', '717', '716', '714', '655', '641', '626']

In [76]:
Top_10_women_ODI_batting_player= pd.DataFrame({"Batting_player":Top_10_Batsmen_names,"Team":Top_10_team_names,"Rating":Top_10_team_rating})
Top_10_women_ODI_batting_player

        Batting_player Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7  Chamari Athapaththu   SL    655
8    Amy Satterthwaite   NZ    641
9         Ellyse Perry  AUS    626

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [77]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [78]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [79]:
page =requests.get(url)
page

In [80]:
soup= BeautifulSoup(page.content)

In [81]:
Bowler_1_names=[]
Bowler_names=[]
g=0
for i in soup.find_all("div",class_="rankings-block__banner--name"):
    
    if g==2:
        Bowler_1_names.append(i.text.replace("\n",""))
        break
    else :
        g=g+1

for i in soup.find_all("td",class_="table-body__cell name"):
    Bowler_names.append(i.text.replace("\n",""))
    

Top_10_Bowler_names=Bowler_1_names + Bowler_names[18:27]
Top_10_Bowler_names

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Sophie Ecclestone']

In [82]:
team_names=[]
team_1_names=[]
t_name=[]
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
      
        t_name.append(i.text.replace("\n","").replace(" ",""))
        t_name = [t.strip() for t in t_name if t.strip()]
team_1_names.append(t_name[2][:3])
        

for i in soup.find_all("span",class_="table-body__logo-text"):
    team_names.append(i.text.replace("\n","").replace("'',",""))
    

Top_10_team_names=team_1_names+team_names[18:27]
Top_10_team_names

['WI3', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'ENG']

In [83]:
team_rating=[]
team_1_rating=[]
t_rating=[]

for i in soup.find_all("div",class_="rankings-block__banner--nationality"):

        t_rating.append(i.text.replace("\n","").replace(" ",""))
        t_rating = [t.strip() for t in t_rating if t.strip()]
team_1_rating.append(t_rating[2][2:6])

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    team_rating.append(i.text)




Top_10_team_rating=team_1_rating+team_rating[18:27]
Top_10_team_rating

['373', '371', '366', '349', '336', '322', '292', '250', '232', '205']

In [84]:
Top_10_women_ODI_bowling_player= pd.DataFrame({"bowling_player":Top_10_Bowler_names,"Team":Top_10_team_names,"Rating":Top_10_team_rating})
Top_10_women_ODI_bowling_player

      bowling_player Team Rating
0    Hayley Matthews  WI3    373
1     Natalie Sciver  ENG    371
2       Ellyse Perry  AUS    366
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    292
7      Jess Jonassen  AUS    250
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    205

# Q7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

i)Headline
ii) Time
iii) News Link

In [85]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [86]:
url="https://www.cnbc.com/world/?region=world"

In [87]:
page=requests.get(url)
page

In [114]:
soup=BeautifulSoup(page.content)

In [89]:
news_headline=[]
for i in soup.find_all("a",class_="LatestNews-headline"):
    news_headline.append(i.text)
    
news_headline=news_headline[0:20]
news_headline

['Big banks including JPMorgan Chase, PNC asked for final bids on First Republic',
 'How to raise a kids with a ‘secure’ attachment style',
 'The business case for green sports stadiums and arenas is growing',
 'A solid start to earnings season will be put to the test in the week ahead',
 "TikTokers are using beef tallow to treat acne: 'It can be hit or miss'",
 'This 28-year-old pays $62 a month to live in a dumpster he built for $5,000—take a look inside',
 "As part of the  ‘cocktail culture,' consumers are splurging on dinner and drinks",
 "Why GM is killing the Chevy Bolt — America's cheapest EV — amid record sales",
 "Just a few stocks are behind the market's resilience. A real concern?",
 "Google Cloud's Kurian on road to profit: 'We were not in a very good situation'",
 'Olipop nears $200 million in annual sales—and CEO says Coke, Pepsi have come knocking ',
 'This 25-year-old makes $200/hour without a bachelor’s degree',
 'The most overbought and oversold S&P 500 stocks include several tech names',
 "Mark Cuban says paying Twitter for a blue check hasn't fixed his drop in followers",
 'Goldman Sachs says these are its top picks coming out of earnings.',
 'What’s next for SpaceX’s Starship after a dramatic first launch',
 'Jim Cramer: Consumer goods stocks are set to keep running, so buy now',
 "Amazon drops on slowing cloud growth. Here's how the pros are playing it",
 'Why bitcoin keeps wavering between a store of value and a risk asset',
 'California bans the sale of new diesel trucks by 2036']

In [90]:
news_time=[]
for i in soup.find_all("time",class_="LatestNews-timestamp"):
    news_time.append(i.text)
    
news_time=news_time[:20]
news_time

['25 Min Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '18 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '22 Hours Ago']

In [91]:
links=[]
for i in soup.find_all("a",class_="LatestNews-headline"):
    links.append(i["href"])
links=links[0:20]
links

['https://www.cnbc.com/2023/04/29/first-republic-frc-jpmorgan-chase-bank-of-america-asked-for-bids.html',
 'https://www.cnbc.com/2023/04/29/how-to-raise-a-kids-who-will-have-a-secure-attachment-style.html',
 'https://www.cnbc.com/2023/04/29/the-business-case-for-green-sports-stadiums-and-arenas-is-growing.html',
 'https://www.cnbc.com/2023/04/29/decent-start-to-earnings-season-will-be-put-to-the-test-in-week-ahead.html',
 'https://www.cnbc.com/2023/04/29/tiktokers-are-using-beef-tallow-to-treat-acne-heres-what-experts-think.html',
 'https://www.cnbc.com/2023/04/29/28-year-old-pays-62-a-month-to-live-in-a-dumpster-he-built-for-5000-in-london-take-a-look-inside.html',
 'https://www.cnbc.com/2023/04/29/cocktail-culture-consumers-are-still-splurging-on-dinner-and-drinks.html',
 'https://www.cnbc.com/2023/04/29/why-gm-is-killing-the-chevy-bolt-ev-amid-record-sales.html',
 'https://www.cnbc.com/2023/04/29/just-a-few-stocks-are-behind-the-markets-recent-resilience-a-real-concern-or-routine-rotation.html',
 'https://www.cnbc.com/2023/04/29/google-cloud-boss-thomas-kurians-rocky-path-to-profit.html',
 'https://www.cnbc.com/2023/04/29/olipop-nears-200-million-in-annual-sales-coke-pepsi-come-knocking-ceo-says.html',
 'https://www.cnbc.com/2023/04/29/25-year-old-notary-signing-agent-makes-200-an-hour-without-bachelors-degree.html',
 'https://www.cnbc.com/2023/04/29/herea-re-the-most-overbought-and-oversold-sp-500-stocks-.html',
 'https://www.cnbc.com/2023/04/29/mark-cuban-paying-for-twitter-blue-didnt-stop-me-from-losing-followers.html',
 'https://www.cnbc.com/2023/04/29/goldman-sachs-says-these-compelling-stocks-are-earnings-season-winners.html',
 'https://www.cnbc.com/2023/04/29/spacex-starship-whats-next.html',
 'https://www.cnbc.com/2023/04/28/jim-cramer-consumer-goods-stocks-are-set-to-keep-running-and-its-not-too-late-to-buy.html',
 'https://www.cnbc.com/2023/04/28/amazon-falls-on-slowing-cloud-growth-how-the-pros-are-playing-it.html',
 'https://www.cnbc.com/2023/04/28/why-bitcoin-keeps-wavering-between-a-store-of-value-and-a-risk-asset.html',
 'https://www.cnbc.com/2023/04/28/california-bans-the-sale-of-new-diesel-trucks-by-2036.html']

In [92]:
news= pd.DataFrame({"News_headline":news_headline,"News_time":news_time,"Links":links})
news

,News_headline,News_time,Links
0,"Big banks including JPMorgan Chase, PNC asked ...",25 Min Ago,https://www.cnbc.com/2023/04/29/first-republic...
1,How to raise a kids with a ‘secure’ attachment...,2 Hours Ago,https://www.cnbc.com/2023/04/29/how-to-raise-a...
2,The business case for green sports stadiums an...,3 Hours Ago,https://www.cnbc.com/2023/04/29/the-business-c...
3,A solid start to earnings season will be put t...,3 Hours Ago,https://www.cnbc.com/2023/04/29/decent-start-t...
4,TikTokers are using beef tallow to treat acne:...,3 Hours Ago,https://www.cnbc.com/2023/04/29/tiktokers-are-...
5,This 28-year-old pays $62 a month to live in a...,4 Hours Ago,https://www.cnbc.com/2023/04/29/28-year-old-pa...
6,"As part of the ‘cocktail culture,' consumers ...",4 Hours Ago,https://www.cnbc.com/2023/04/29/cocktail-cultu...
7,Why GM is killing the Chevy Bolt — America's c...,4 Hours Ago,https://www.cnbc.com/2023/04/29/why-gm-is-kill...
8,Just a few stocks are behind the market's resi...,5 Hours Ago,https://www.cnbc.com/2023/04/29/just-a-few-sto...
9,Google Cloud's Kurian on road to profit: 'We w...,5 Hours Ago,https://www.cnbc.com/2023/04/29/google-cloud-b...
10,Olipop nears $200 million in annual sales—and ...,5 Hours Ago,https://www.cnbc.com/2023/04/29/olipop-nears-2...
11,This 25-year-old makes $200/hour without a bac...,5 Hours Ago,https://www.cnbc.com/2023/04/29/25-year-old-no...
12,The most overbought and oversold S&P 500 stock...,5 Hours Ago,https://www.cnbc.com/2023/04/29/herea-re-the-m...
13,Mark Cuban says paying Twitter for a blue chec...,5 Hours Ago,https://www.cnbc.com/2023/04/29/mark-cuban-pay...
14,Goldman Sachs says these are its top picks com...,5 Hours Ago,https://www.cnbc.com/2023/04/29/goldman-sachs-...
15,What’s next for SpaceX’s Starship after a dram...,6 Hours Ago,https://www.cnbc.com/2023/04/29/spacex-starshi...
16,Jim Cramer: Consumer goods stocks are set to k...,18 Hours Ago,https://www.cnbc.com/2023/04/28/jim-cramer-con...
17,Amazon drops on slowing cloud growth. Here's h...,21 Hours Ago,https://www.cnbc.com/2023/04/28/amazon-falls-o...
18,Why bitcoin keeps wavering between a store of ...,21 Hours Ago,https://www.cnbc.com/2023/04/28/why-bitcoin-ke...
19,California bans the sale of new diesel trucks ...,22 Hours Ago,https://www.cnbc.com/2023/04/28/california-ban...

# Q 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame

i)Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [93]:
import numpy as np
from bs4 import BeautifulSoup
import requests

In [94]:
url="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [95]:
page=requests.get(url)

In [96]:
soup=BeautifulSoup(page.content)

In [97]:
title=[]
for i in soup.find_all("h2",class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)
    
title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [98]:
authors=[]
for i in soup.find_all("span",class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
    
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [99]:
Published_Date=[]
for i in soup.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)
    
Published_Date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [100]:
links=[]
for i in soup.find_all("a",class_="sc-5smygv-0 fIXTHm"):
    links.append(i["href"])
links

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [101]:
AI= pd.DataFrame({"Title":title,"Author":authors,"Published Date":Published_Date,"Paper URL":links})
AI

,Title,Author,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q9) Write a python program to scrape mentioned details from dineout.co.in and make data frame

i)Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [102]:
import numpy as np
from bs4 import BeautifulSoup
import requests

In [103]:
url="https://www.dineout.co.in/delhi-restaurants/buffet-special"

In [104]:
page=requests.get(url)

In [105]:
soup=BeautifulSoup(page.content)

In [106]:
Restaurant_name=[]
for i in soup.find_all("a",class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)
    
len(Restaurant_name)

9

In [107]:
Restaurant_Cuisine=[]
for i in soup.find_all("span",class_="double-line-ellipsis"):
        Restaurant_Cuisine.append(i.text.split("|")[1])
    
len(Restaurant_Cuisine)

9

In [108]:
Restaurant_Location=[]
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    
    Restaurant_Location.append(i.text)
    
len(Restaurant_Location)

9

In [109]:
Restaurant_Rating=[]
for i in soup.find_all("div",class_="restnt-rating rating-4"):
   
    Restaurant_Rating.append(i.text)
    
len(Restaurant_Rating)

9

In [110]:
Restaurant_Image_URL=[]
for i in soup.find_all("img",class_="no-img"):
        Restaurant_Image_URL.append(i.get("data-src"))
    
len(Restaurant_Image_URL)

9

In [111]:
Restaurant=pd.DataFrame({"Restaurant name":Restaurant_name,"Cuisine":Restaurant_Cuisine,"Location":Restaurant_Location,"Ratings":Restaurant_Rating,"Image URL":Restaurant_Image_URL})
Restaurant

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...