In [1]:
#PROBLEM 1

import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [2]:
# connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")
time.sleep(1)

# Opening Wikipedia webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

C:\Users\TRISHA ROY\AppData\Local\Temp\ipykernel_25636\3270951912.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [3]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [4]:
# Extracting Rank Via X path
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
# Extracting Name Via X path
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')
    
# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

# Extracting Views via Xpath
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [5]:
len(Rank),len(Name),len(Artist),len(Views),len(Upload_date)

(30, 30, 30, 30, 30)

In [6]:
# Dataframe for scrap data
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,6.00,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.89,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.30,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.24,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.92,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.89,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.80,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.35,"April 5, 2018"
13,14.,"""Axel F""[34]",Crazy Frog,3.91,"June 16, 2009"
14,15.,"""Sugar""[35]",Maroon 5,3.87,"January 14, 2015"
15,16.,"""Roar""[36]",Katy Perry,3.80,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.79,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.66,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.64,"June 25, 2018"
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.60,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.59,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.52,"February 20, 2014"
22,23.,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.48,"June 14, 2018"
23,24.,"""Faded""[44]",Alan Walker,3.45,"December 3, 2015"
24,25.,"""Perfect""[45]",Ed Sheeran,3.45,"November 9, 2017"
25,26.,"""Let Her Go""[46]",Passenger,3.44,"July 25, 2012"
26,27.,"""Girls Like You""[47]",Maroon 5,3.42,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.41,"January 26, 2018"
28,29.,"""Lean On""[49]",Major Lazer,3.38,"March 22, 2015"
29,30.,"""Bailando""[50]",Enrique Iglesias,3.38,"April 11, 2014"

# 2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [3]:
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import selenium
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import urllib.request
import os
from PIL import Image
import io
import re 
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings("ignore")

In [8]:
def India_fixtures():
    """Creating function that searches details of Team India International Fixtures"""

    template = 'https://www.bcci.tv/.' #URL template for accessing the website
    
    driver = webdriver.Chrome() #Calling the Web Driver
    driver.get(template) #Opening with the URL template
    driver.maximize_window() #Maximize the Window
    
    time.sleep(5) #Making the Function wait for 5sec so webpage will open
    
    #Creating a variable "Button" to search the Fixtures and getting the 'href' to open in the driver.
    button = driver.find_elements(By.XPATH,"//div[@class = 'navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
    
    button.get_attribute["href"]
    
    time.sleep(5) #Making the Function wait for 5sec so webpage will open
    
    Match_title = [] #Creating Variable Match title to collect the title of the match i.e. Test or ODI.
    Series = [] #Creating Variable Series to collect the Series name. 
    Place = [] #Creating variable Place to collect the Match venue.
    Date = [] #Creating Variable Date to collect the venue Date.
    Time = [] #Creating Variable Time to collect the venue Time.
    details = [] #Creating a Dummy variable Details to collect the Date and time details
    
    #Scraping Match Details and appending in the Match list.
    for i in driver.find_element(By.XPATH,"//div [@class = 'fixture__format-strip']/ span [@class = 'u-unskewed-text fixture__format']"):
        Match_title.append(i.text)

    #Scraping Series Details and appending in the Series list.    
    for i in driver.find_elements(By.XPATH,"//div [@class = 'fixture__format-strip']/ span [@class = 'u-unskewed-text fixture__tournament-label u-truncated']"):
        Series.append(i.text)
        
   #Scraping Place Details and appending in the Place list.
    for i in driver.find_element(By.XPATH,"//div [@class = 'fixture__description u-unskewed-text']/p/span"):
        Place.append(i.text)
    
    #Scraping Date and Time Details and appending in the details list.
    for i in driver.find_element(By.XPATH,"//div [@class = 'fixture__datetime desktop-only']"):
        details.append(i.text.replace('\n',' '))
        
    driver.close() #Exiting the driver post scraping the information    
    
    #Spliting the details list and sorting it in Date and Time. 
    Date = [i.split(' ',3)[:3]for i in details]
    Date = [' '.join(i) for i in Date]
    Time = [i.split(' ',3)[-1]for i in details]
    
    #Creating the DataFrame from all collected data
    Fixtures = pd.DataFrame({'Match title' : Match_title , 
                             'Series' : Series , 
                             'Place' : Place, 
                             'Date' : Date ,
                             'Time' : Time})
    
    return Fixtures #returns the DataFrame with collected details

In [9]:
India_fixtures()#Calling the function

AttributeError: 'list' object has no attribute 'get_attribute'

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [10]:
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import selenium
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import urllib.request
import os
from PIL import Image
import io
import re 
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings("ignore")

In [14]:
def State_wise_GDP():
    """Creating function that searches details of India State_wise_GDP"""
    
    template = 'http://statisticstimes.com/'#URL template for accessing the website.
    driver = webdriver.Chrome() #Calling the Web Driver.
    driver.get(template) #Opening with the URL template.
    driver.maximize_window() #Maximize the Window.
    
    href = [] #Declaring the list href to scrap all the href details
    for i in driver.find_elements(By.XPATH,"//div [@class = 'dropdown']/div [@class = 'dropdown-content']/a"):
        href.append(i.get_attribute('href'))
        
    driver.get(href[4]) #opening the href[4] which is GDP of India.
    
    href = [] #Declaring the list href to scrap all the href details of GDP of Indian states.
    for i in driver.find_elements(By.XPATH,"//div [@style = 'float:left;background-color:seashell;width:400px;height:800px;']/ul [@style = 'list-style-type:none;margin-left:20px;']/li/a"):
        if i.text == '» GDP of Indian states':
            href.append(i.get_attribute('href'))
    
    driver.get(href[0]) #opening the href[4] which is GDP of Indian states.
    
    Rank = [] #Declaring Rank list to collect the Rank details
    State = [] #Declaring State list to collect the State details
    GSDP20 = [] #Declaring GSDP20 list to collect the GSDP20 details
    GSDP19 = [] #Declaring GSDP19 list to collect the GSDP19 details
    Share = [] #Declaring Share list to collect the Share details
    GDP = [] #Declaring GDP list to collect the GDP details
    details = [] #scraping all the above mentioned details and storing it in the details list.
    for i in driver.find_elements(By.XPATH,"//tbody /tr [@role = 'row']/td"):
        details.append(i.text)
    
    driver.close() #Exiting the Driver post collecting all the details.
    
    details = details[:264] #Sorting the list with the required details.
    
    z= 0
    while z < len(details): # Splitting the collected details and storing it in the required list.
        Rank.append(details[z])
        z+=1
        State.append(details[z])
        z+=1
        GSDP20.append(details[z])
        z+=1
        GSDP19.append(details[z])
        z+=1
        Share.append(details[z])
        z+=1
        GDP.append(details[z])
        z+=3
    
    #Creating a DataFrame with collected details.
    table = pd.DataFrame({"Rank" : Rank,
                          "State" : State,
                          "GSDP(19-20)" : GSDP20,
                          "GSDP(18-19)" : GSDP19,
                          "Share(2018)" : Share,
                          "GDP($ billion)": GDP})
    
    return table #returing the dataframe.

In [17]:
GDP = State_wise_GDP() #Calling the function and storing it in a variable.
GDP.head(30)

   Rank             State GSDP(19-20) GSDP(18-19) Share(2018) GDP($ billion)
0     1       Maharashtra           -   2,632,792      13.94%        399.921
1     2        Tamil Nadu   1,845,853   1,630,208       8.63%        247.629
2     3     Uttar Pradesh   1,687,818   1,584,764       8.39%        240.726
3     4           Gujarat           -   1,502,899       7.96%        228.290
4     5         Karnataka   1,631,977   1,493,127       7.91%        226.806
5     6       West Bengal   1,253,832   1,089,898       5.77%        165.556
6     7         Rajasthan   1,020,989     942,586       4.99%        143.179
7     8    Andhra Pradesh     972,782     862,957       4.57%        131.083
8     9         Telangana     969,604     861,031       4.56%        130.791
9    10    Madhya Pradesh     906,672     809,592       4.29%        122.977
10   11            Kerala           -     781,653       4.14%        118.733
11   12             Delhi     856,112     774,870       4.10%        117.703
12   13           Haryana     831,610     734,163       3.89%        111.519
13   14             Bihar     611,804     530,363       2.81%         80.562
14   15            Punjab     574,760     526,376       2.79%         79.957
15   16            Odisha     521,275     487,805       2.58%         74.098
16   17             Assam           -     315,881       1.67%         47.982
17   18      Chhattisgarh     329,180     304,063       1.61%         46.187
18   19         Jharkhand     328,598     297,204       1.57%         45.145
19   20       Uttarakhand           -     245,895       1.30%         37.351
20   21   Jammu & Kashmir           -     155,956       0.83%         23.690
21   22  Himachal Pradesh     165,472     153,845       0.81%         23.369
22   23               Goa      80,449      73,170       0.39%         11.115
23   24           Tripura      55,984      49,845       0.26%          7.571
24   25        Chandigarh           -      42,114       0.22%          6.397
25   26        Puducherry      38,253      34,433       0.18%          5.230
26   27         Meghalaya      36,572      33,481       0.18%          5.086
27   28            Sikkim      32,496      28,723       0.15%          4.363
28   29           Manipur      31,790      27,870       0.15%          4.233
29   30          Nagaland           -      27,283       0.14%          4.144

# 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import selenium
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import urllib.request
import os
from PIL import Image
import io
import re 
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings("ignore")

In [2]:
# connecting to webdriver
driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")
time.sleep(1)

# Opening Wikipedia webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [3]:
# Clicking on trending option
trending=driver.find_elements(By.XPATH,'//ul[@class="list-style-none mb-3"][2]/li[3]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

AttributeError: 'list' object has no attribute 'click'

# 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through cod

In [53]:
def top_100():
    """Creating function that searches details of top 100 songs from billboard"""
    
    template = 'https://www.billboard.com/'#URL template for accessing the website.
    driver = webdriver.Chrome()#Calling the Web Driver.
    driver.get(template)#Opening with the URL template.
    driver.maximize_window()#Maximize the Window.
    
    href = []#Creating href list to collect "HOT 100" href details.
    for i in driver.find_elements(By.XPATH,"//li [@class = 'header__subnav__item']/a"):
        if i.text == 'HOT 100':
            href.append(i.get_attribute('href'))
        
    driver.get(href[0])# Opening the Driver with the collected href detail.
    
    #Scraping the Song_name and storing it in the Song_name list.
    Song_name = [i.text for i in driver.find_elements(By.XPATH,"// span [@class ='chart-element__information']/span[@ class= 'chart-element__information__song text--truncate color--primary']")]
    
    #Scraping the Artist_name and storing it in the Artist_name list.
    Artist_name = [i.text for i in driver.find_elements(By.XPATH,"// span [@class ='chart-element__information']/span[@ class= 'chart-element__information__artist text--truncate color--secondary']")]
    
    #Scraping the Last_week_rank and storing it in the Last_week_rank list.
    Last_week_rank = [i.text for i in driver.find_elements("//div[@class = 'chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[@class = 'chart-element__meta text--center color--secondary text--last']")]
    
    #Scraping the Peak_rank and storing it in the Peak_rank list.
    Peak_rank = [i.text for i in driver.find_elements(By.XPATH,"//div[@class = 'chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[@class = 'chart-element__meta text--center color--secondary text--peak']")]
    
    #Scraping the Weeks_on_board and storing it in the Weeks_on_board list.
    Weeks_on_board = [i.text for i in driver.find_elements(By.XPATH,"//div[@class = 'chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[@class = 'chart-element__meta text--center color--secondary text--week']")]
    
    driver.close()#Quiting the Driver post Scraping the Details Required.
 #Creating a DataFrame withe the collected Details.
    table = pd.DataFrame({"Song_name" : Song_name,
                          "Artist_name" : Artist_name,
                          "Last_week_rank" : Last_week_rank,
                          "Peak_rank" : Peak_rank,
                          "Weeks_on_board": Weeks_on_board})
    
    return table #Retuting the DataFrame

In [54]:
top_100songs = top_100() #Calling the Function and assigning it to a variable.
top_100songs(10)

IndexError: list index out of range

# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [9]:
driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [12]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [22]:
find=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
find.click()

In [23]:
link=[]
for i in driver.find_elements(By.XPATH,'//a[@class="ellipsis"]'):
    link.append(i.get_attribute('href'))
len(link)

100

In [28]:
names=[]
for i in link:
    driver.get(i)
    try:
        recruiter=driver.find_element(By.XPATH,'//h1[@class="fl ellipsis wLimit hd"]')
        names.append(recruiter.text.replace('-',''))
    except NoSuchElementException:
        names.append('-')

In [29]:
designation=[]
for i in link:
    driver.get(i)
    try:
        D=driver.find_element(By.XPATH,'//div[@class="ellipsis"]')
        designation.append(D.text.replace('-',''))
    except NoSuchElementException:
        designation.append('-')

In [27]:
company=[]
for i in link:
    driver.get(i)
    try:
        C=driver.find_element(By.XPATH,'//a[@class="fl ellipsis widLrg"]')
        company.append(C.text.replace('-',''))
    except NoSuchElementException:
        company.append('-')

In [30]:
skills=[]
for i in link:
    driver.get(i)
    try:
        S=driver.find_element(By.XPATH,'//div[@class="fl lPortn"]//p')
        skills.append(S.text.replace('-',''))
    except NoSuchElementException:
        skills.append('-')

In [31]:
location=[]
for i in link:
    driver.get(i)
    try:
        L=driver.find_element(By.XPATH,'//h1[@class="f1 ellipsis loc"]')
        location.append(L.text.replace('-',''))
    except NoSuchElementException:
        location.append('-')

In [33]:
print(len(names),len(designation),len(company),len(skills),len(location))

100 100 100 100 100

In [34]:
df=pd.DataFrame({'NAME':names,'DESIGNATION':designation,'COMPANY':company,'SKILLS':skills,'LOCATION':location})
df

,NAME,DESIGNATION,COMPANY,SKILLS,LOCATION
0,Aakash Harit,HR Manager,-,"Classic ASP Developer , Internet Marketing Pro...",-
1,-,-,-,-,-
2,shravan Kumar Gaddam,Company Recruiter,-,".Net , Java , Data Science , Linux Administrat...",-
3,-,-,-,-,-
4,MARSIAN Technologies LLP,Company HR,-,"Mid Level, Junior Level",-
...,...,...,...,...,...
95,-,-,-,-,-
96,Balaji Kolli,CoFounder,-,-,-
97,-,-,-,-,-
98,Rajani Nagaraj,HR Manager,-,"java , hadoop , r , Machine Learning , spark ,...",-
99,-,-,-,-,-

# 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [15]:
def mostwatched_tv_series():
    """The Function which searches and returns top selling novels from theguardian.com"""

    template = 'https://www.imdb.com/list/ls095964455/' #URL template for accessing the website.
    driver = webdriver.Chrome() #Calling the Web Driver.
    driver.get(template) #Opening with the URL template.
    driver.maximize_window() #Maximize the Window.
    
    #Creating the list Name and scraping the name of TV shows.
    Name = [i.text for i in driver.find_elements(By.XPATH,"//h3 [@class ='lister-item-header']/a")]
    
    #Creating the list Year_span and scraping the Year_span of TV shows.
    Year_span = [i.text for i in driver.find_elements(By.XPATH,"//h3 [@class ='lister-item-header']/span[@class = 'lister-item-year text-muted unbold']")]
    
    #Creating the list Genre and scraping the Genre of TV shows.
    Genre = [i.text for i in driver.find_elements(By.XPATH,"//p [@class ='text-muted text-small']/span[@class = 'genre']")]
    
    #Creating the list Run_time and scraping the Run_time of TV shows.
    Run_time = [i.text for i in driver.find_elements(By.XPATH,"//p [@class ='text-muted text-small']/span[@class = 'runtime']")]
    
    #Creating the list Ratings and scraping the Ratings of TV shows.
    Ratings = [i.text for i in driver.find_elements(By.XPATH,"//div [@class ='ipl-rating-star small']/span[@class = 'ipl-rating-star__rating']")]
    
    #Creating the list Votes and scraping the Votes of TV shows.
    Votes = [i.text for i in driver.find_elements(By.XPATH,"//p [@class ='text-muted text-small']/span[@name = 'nv']")]
    
    driver.quit()#exiting the driver post scraping the information
    
    #Creating a Dataframe with all collected details.
    table = pd.DataFrame({"Name" : Name,
                          "Year_span" : Year_span,
                          "Genre" : Genre,
                          "Run_time" : Run_time,
                          "Ratings": Ratings,
                          "Votes" : Votes})
    
    return table #Returning the DataFrame.

In [16]:
mostwatched_tv_series() #calling the Function.

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,163,377"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,243,199"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,704"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,304"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,418"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,692"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,735"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,730"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,226"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,372"

# 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [4]:
def Highest_selling_novels():
    """The Function which searches and returns top selling novels from theguardian.com"""
    
    #URL template for accessing the website.
    template = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
    driver = webdriver.Chrome()#Calling the Web Driver.
    driver.get(template)#Opening with the URL template.
    driver.maximize_window()#Maximize the Window.
    
    #Creating a dummy list and scraping the all the required details.
    dummy = [i.text for i in driver.find_elements(By.XPATH,"//table [@class ='in-article sortable']//tr/td")]
    
    driver.close() #Quiting the driver post collecting the details. 
    
    dummy.remove('SOURCE: NIELSEN BOOK SCAN') #Removing the unwanted details from dummy list. 

    Book_name = [] #Creating list Book_name to collect the Book_name details.
    Author_name = [] #Creating list Author_name to collect the Author_name details.
    Volumes_sold = [] #Creating list Volumes_sold to collect the Volumes_sold details.
    Publisher = [] #Creating list Publisher to collect the Publisher details.
    Genre = [] #Creating list Genre to collect the Genre details.

    z = 0
    while z < len(dummy): #Splitting dummy list and storing the required details it in the appropriate list.
        z+=1
        Book_name.append(dummy[z])
        z+=1
        Author_name.append(dummy[z])
        z+=1
        Volumes_sold.append(dummy[z])
        z+=1
        Publisher.append(dummy[z])
        z+=1
        Genre.append(dummy[z])
        z+=1
     #Creating the DataFrame with all the collected details.
    table = pd.DataFrame({"Book_name" : Book_name,
                          "Author_name" : Author_name,
                          "Volumes_sold" : Volumes_sold,
                          "Publisher" : Publisher,
                          "Genre": Genre})
    
    return table #returning the DataFrame.

In [5]:
Highest_selling_novels()#calling the Function.

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [14]:
def UCI_Repository():
    """The Function that Search all the ML Repository details and return them in DataFrame"""

    template = 'https://archive.ics.uci.edu/' #URL template for accessing the website.
    driver = webdriver.Chrome() #Calling the Web Driver.
    driver.get(template) #Opening with the URL template.
    driver.maximize_window() #Maximize the Window.
    time.sleep(3)#making the function to wait for 3sec
    
    #finding view all repository and clicking the same.
    ml_repository = driver.find_element(By.XPATH,"//span [@class ='normal']/b/a")
    ml_repository.click()
    
    #creating a dummy list 'details' and scraping Dataset_name, Data_type, Task, Attribute_type, Noof_instances, Noof_attribute, Year.
    details = [i.text for i in driver.find_elements(By.XPATH,"//table [@border ='1']/tbody/tr/td")]
    del details[:7] #Removing the unwanted details.
    
    driver.close() #Closing the Driver post scraping the details.
    
    Dataset_name = [] #creating list Dataset_name to collect Dataset_name. 
    Data_type = [] #creating list Data_type to collect Data_type. 
    Task = [] #creating list Task to collect Task. 
    Attribute_type = [] #creating list Attribute_type to collect Attribute_type. 
    Noof_instances = [] #creating list Noof_instances to collect Noof_instances. 
    Noof_attribute = [] #creating list Noof_attribute to collect Noof_attribute. 
    Year = [] #creating list Year to collect Year. 

    z= 0
    while z < len(details): #Splitting the Dummy variable and storing it in a appropriate list.
        Dataset_name.append(details[z])
        z +=1

        Data_type.append(details[z])
        z +=1
    
        Task.append(details[z])
        z +=1

        Attribute_type.append(details[z])
        z +=1

        Noof_instances.append(details[z])
        z +=1
    
        Noof_attribute.append(details[z])
        z +=1

        Year.append(details[z])
        z +=1
        
        
    #Creating DataFrame with collected Details    
    table = pd.DataFrame({"Dataset_name" : Dataset_name,
                          "Data_type" : Data_type,
                          "Task" : Task,
                          "Attribute_type" : Attribute_type,
                          "Noof_instances" : Noof_instances,
                          "Noof_attribute" : Noof_attribute,
                          "Year" : Year})
        
    table = table.replace(' ', '-')
        
    return table #returning the DataFrame.

In [15]:
UCI_Repository = UCI_Repository() #Calling the function and storing it in a variable.
UCI_Repository.head(20)

,Dataset_name,Data_type,Task,Attribute_type,Noof_instances,Noof_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,-,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,-,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,-
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996